:root {
  --primary-color: #ffab0f;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --border-color: #333;
  --border-light-color: #c8c8c8;
  --smooth: all 0.3s linear;
  --border-radius: 10px;
  --second-color: #e6e3de;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  text-decoration: none;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.gm-btn {
  text-align: center;
  font-size: 1.3rem;
  display: inline-block;
  padding: 12px 20px;
  cursor: pointer;
}
.gm-btn-full {
  width: 100%;
  height: 100%;
}

.gm-btn-check {
  /* position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none; */
}

.gm-btn-outline-primary {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.gm-btn-outline-black {
  border: 1px solid var(--black-color);
}

.gm-choosed {
  display: none;
  position: absolute;
  right: -2px;
  top: -3px;
  color: var(--primary-color);
}
