/* start header */
.header__top {
  color: var(--white-color);
  background-color: var(--black-color);
  text-align: center;
  line-height: 1.3em;
  font-size: 1.4em;
  padding: 8px 10px;
}

.header__main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.header__main__logo {
  text-align: center;
}

.header__main__logo img {
  height: 80px;
}

/* nav mobile */
.nav__mobile {
  height: 45px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  border-top: 1px solid var(--border-light-color);
  border-bottom: 1px solid var(--border-light-color);
  width: 100%;
  font-size: 1.4em;
  background-color: var(--white-color);
  z-index: 5;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
}

.nav__mobile div {
  border-right: 1px solid var(--border-light-color);
}

.nav__mobile > div:last-child {
  border: none;
}

.nav__mobile__menu {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  line-height: 14px;
  width: 100%;
  height: 100%;

  cursor: pointer;
  background-color: transparent;
}

.nav__mobile__menu__container {
  display: none;
}

.nav__mobile__menu-product,
.nav__mobile__menu-search {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-200%);
  opacity: 1;
  /* display: none; */
}
.nav__mobile__menu-product-show,
.nav__mobile__menu-search-show {
  transform: translateY(0px);
  opacity: 1;
}
.nav__mobile__menu-product-links {
  transition: var(--smooth);
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  text-align: center;
  position: relative;
}
.nav__mobile__menu-product-link {
}
.nav__mobile__menu-product-links a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 30px;
  font-weight: 300;
  transition: var(--smooth);
}
.nav__mobile__menu-product-links a:hover {
  color: var(--primary-color);
}
.nav__mobile__menu-product-close-btn {
  color: var(--primary-color);
  font-size: 5em;

  cursor: pointer;
}
.nav__mobile__menu-search-form {
  width: 100%;
  padding: 0 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.nav__mobile__menu-search-form-field {
  position: relative;
  width: 100%;
}

#search-field-mobile {
  padding: 8px 30px 8px 0px;
  font-size: 1.6em;
  background-color: transparent;
  border-bottom: 1px solid var(--border-light-color);
  border-top: none;
  border-left: none;
  border-right: none;

  color: var(--white-color);
  width: 100%;
  height: 40px;
  font-size: 2em;
}
input#search-field-mobile:focus {
  border-bottom: 2px solid var(--white-color);
  outline: none;
}

input#search-field-mobile::placeholder {
  color: var(--text-color);
  font-size: 1.3em;
}

.nav__mobile__menu-search-form-field i {
  position: absolute;
  right: 0;
  top: 8px;
  font-size: 3em;
  color: var(--primary-color);
}
/* end nav mobile */
/* end header */

/* footer */
footer {
  margin-top: 20px;
  padding: 20px 0;
  background-color: #e6e3de;
}

.footer__container__social {
  text-align: center;
  margin-bottom: 15px;
}

.footer__container__social-icon {
  margin: 15px 0;
}

.footer__container__social-icon a {
  font-size: 3.5em;
  color: var(--black-color);
}

.footer__container__social-icon a:not(:last-child) {
  margin-right: 20px;
}

.footer__container__social-des {
  font-size: 1.2em;
}

.footer__container__policy-menu {
  border-top: solid 1px #ccc;

  padding: 20px 20px;
}
.footer__container__policy-menu-title {
  text-transform: uppercase;
  font-size: 1.6em;
  letter-spacing: 1px;
  margin: 0 0;
  cursor: pointer;
}
.footer__container__policy-menu-title:hover {
  color: #333;
}
.footer__container__policy-menu-title::after {
  content: "\002B";
  color: var(--black-color);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.footer__container__policy-menu-content {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 1.4em;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  /* this is for tab hiden*/
  height: 0;
  overflow: hidden;
}

.tab-show:after {
  content: "\2212";
}

.footer__container__policy-menu-content li {
  flex: 47%;
  min-width: 8.375rem;
}

.footer__container__policy-menu-content li a {
  color: var(--black-color);
}
.footer__container__policy-menu-content li a:hover {
  text-decoration: underline;
}
.footer__container__copyright {
  text-align: center;
  font-size: 1.4em;
  margin: 10px 0 50px 0;
}

/* end footer */

/* responesive */
@media (min-width: 740px) {
  /* start header */
  .header__top {
    color: var(--white-color);
    background-color: var(--black-color);
    text-align: center;
    padding: 8px 10px;
  }

  .header__main {
    /* display: flex;
    justify-content: space-between; */
    /* align-items: center; */
    margin-top: 10px;
  }

  .header__main__search {
    width: 21.52778%;
    /* height: 40px ; */
  }

  .header__main__search form {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
  }

  .header__main__search input {
    padding: 8px 30px 8px 10px;
    font-size: 1.6em;
    background-color: #fff;
    border-bottom: 1px solid var(--border-light-color);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 1px;
    color: var(--black-color);
    cursor: text;
    height: 30px;
    margin-bottom: 0;
    margin-right: 0;
    /* padding: 0; */
    width: 100%;
    height: 40px;
  }
  .header__main__search input::placeholder {
    /* font-size: 1.6em; */
    color: var(--text-color);
  }

  .header__main__search input:focus {
    border-bottom: 1px solid var(--black-color);
    outline: none;
  }

  .header__main__search i {
    position: absolute;
    right: 10px;
    color: var(--text-color);
    font-size: 1.6em;
  }

  .header__main__logo {
    text-align: center;
  }
  .header__main__logo a img {
    height: 80px;
    width: 80px;
    object-fit: cover;
  }

  .header__main__cart {
    width: 21.52778%;
    display: flex;
    justify-content: flex-end;
    font-size: 2em;
    gap: 5px;
  }

  .header__main__cart a {
    text-decoration: none;
    color: var(--black-color);
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .header__main__cart i {
  }

  .header__navbar {
    margin-top: 12px;
    border-top: 1px solid var(--border-light-color);
    border-bottom: 1px solid var(--border-light-color);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__navbar ul {
    display: flex;
    gap: 40px;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin: 0;
    font-size: 1.4em;
  }
  .header__navbar ul li {
  }

  .header__navbar ul li:hover {
  }

  .header__navbar ul li a {
    display: block;
    border-bottom: 2px solid transparent;
    line-height: 36px;
    text-decoration: none;
    color: var(--black-color);
  }
  .header__navbar ul li a:hover {
    border-bottom: 2px solid var(--primary-color);
    cursor: pointer;
  }

  /* nav for mobile */
  .nav__mobile {
    display: none;
  }
  /* nav for mobile */

  /* end header */

  /* footer */
  footer {
  }

  .footer__container__policy-menu {
    border: none;
  }
  .footer__container__policy-menu-title {
    cursor: default;
  }
  .footer__container__policy-menu-title::after {
    content: "";
  }

  .footer__container__policy-menu-title:hover {
    color: var(--black-color);
  }
  .footer__container__policy-menu-content {
    height: auto;
    margin-top: 20px;
    /* this is for tab hiden*/
  }
  .footer__container__copyright {
    margin: 10px 0 10px 0;
  }
  /* end footer */
}
@media (min-width: 1113px) {
}
