/*  product image and modal */
.product__detail {
  font-size: 1.6rem;
  margin: 20px 0;
}

.container {
  width: 100%;
}

.container-owl-main-thumb {
  overflow: hidden;
  position: relative;
}

#owlMain {
  text-align: center;
}
#owlMain .slides {
}
#owlMain .slides a img {
  height: auto;
  max-width: 650px;
}

.owl-main-dots {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
  overflow: hidden;
  gap: 10px;
  list-style-type: none;
  width: 100%;
}

.owl-main-dots .owl-main-dot {
  flex: 1 0 19%;
  /* height: 100%; */
  border: 2px solid transparent;
  cursor: pointer;
}

.owl-main-dots .owl-main-dot img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.btn-owl-modal-open {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  cursor: pointer;
  width: calc((100% / 5) - 18px);
  border: 2px solid white;
  height: 100%;
  font-size: 1.3rem;
  line-height: 13px;
  text-align: center;
}

#owlModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 9;
  background-color: rgba(255, 255, 255, 1);
  opacity: 0;
  transform: translateX(-100%);
}
#btnModalClose {
  position: absolute;
  top: 40px;
  right: 30px;
  font-size: 45px;
  cursor: pointer;
}
.prd-owl-modal-container {
  width: 550px;
  margin: auto;
  /* width: 80%;*/

  /* background-color: white; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#prdOwlModalThumb {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  /* transform: translateX(-50%); */
}

#prdOwlModalThumb .items {
  display: flex;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
#prdOwlModalThumb .items .item {
  width: 80px;
  border: 1px solid transparent;
  cursor: pointer;
}

#prdOwlModalThumb .items .item img {
  width: 100%;
  height: auto;
}
.owlActive {
  border: 2px solid var(--primary-color) !important;
}
/* end product image and modal */

/* arrow modal */
.navigationOwlModal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 5rem;
  width: 100%;
}
.arrow-owl-modal-left,
.arrow-owl-modal-right {
  margin: 0 20px;
  cursor: pointer;
}

.arrow-owl-modal-right {
  float: right;
}
/* end arrow modal */

/* product info  */
.product__detail-info-title-price {
  font-size: 3rem;
  margin: 20px 0;
  display: inline-block;
}
.product__detail-info-title-price-old {
  font-size: 2rem;
  text-decoration: line-through;
  color: #737373;
}
.product__detail-info-filter-items {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.product__detail-info-filter-item {
  position: relative;
  border: 1px solid var(--border-light-color);
  width: calc((100% / 3) - 10px);
  cursor: pointer;
}

.product__detail-info-filter-item-content {
  display: flex;
  gap: 10px;
  padding: 5px;
}
.product__detail-info-filter-item img {
  width: 50px;
  height: auto;
}
.product__detail-info-filter-item-name {
  display: flex;
  align-items: center;
}

.activeFilter {
  border: 1px solid var(--primary-color);
}
/* end product info  */

/* responesive */
@media (min-width: 740px) {
  .btn-owl-modal-open {
    font-size: 1.4rem;
  }
}
@media (min-width: 1113px) {
}
